@import "common/Colors";
@import "common/Spacing";

.ErrorPage {
    padding-top: $spacing-padding*4;
    text-align: center;

    i {
        font-size: 200px;
        color: $color-error;
    }

    h1 {
        font-size: 300%;
        color: $color-error;
    }

    h3 {
        color: rgba(0,0,0,0.4);
    }

    pre {
        color: darken($color-error, 20%);
        text-align: left;
        display: inline-block;
        margin: 0 auto;
    }
}

.ErrorMessage {
    background: $color-error;
    border-radius: $spacing-radius;
    color: white;
    text-align: center;

    p {
        padding: $spacing-margin/2;
        margin: 0;
    }
}