.Error {
    text-align: center;

    h1 {
        font-size: 300%;
    }

    h3 {
        color: rgba(0,0,0,0.4);
    }

    pre {
        text-align: left;
        display: inline-block;
        margin: 0 auto;
    }
}