@import "lib/normalize.css";
@import "lib/font-awesome/font-awesome";
@import "common/Colors";
@import "common/Spacing";
@import "common/Fonts";

/**
 * Only modify this file WHEN YOU HAVE TO. The less
 * style we have muddling up the global space the better.
 *
 * Use this file to modify the default tag styling for
 * elements such as the <body> and <a> tags i.e. named react tags.
 */
* {
    box-sizing: border-box;
}

body {
    background: $color-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 120%;
}