@import "common/Colors";
@import "common/Spacing";
@import "common/Assets";

.Parser {
    height: 100vh;

    .Sidebar {
        padding: $spacing-padding;
        background-color: $color-parser-sidebar;

        i {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5);
            margin: $spacing-margin 0;
            text-align: center;
        }

        i:hover, i.active {
            color: white;
        }

        .fa-info-circle {
            font-size: 1.7em;
        }

        .fa-list {
            font-size: 1.5em;
        }
    }

    .panel-container {
        width: 46%;
        background: $color-parser-info-panel;

        .header {
            background: $color-body;
            text-align: center;
            border-bottom: 5px solid rgba(0,0,0,0.1);

            .PaperLink {
                margin: $spacing-margin;
            }
        }

        .Panel {
            overflow-y: scroll;
            height: 0px; // Hack to fix flexbox bug: http://stackoverflow.com/a/14964944/916553
        }
    }

    .panel-questions {
        > .QuestionList {
            padding: 0 $spacing-padding*2 $spacing-padding;
        }

        > .Empty {
            text-align: center;
            margin-top: 40px;
            color: $color-text-faded;

            p {
                margin-top: 40px;
            }
        }

        > .QuestionActions {
            padding: $spacing-padding;
        }
    }
}

.Panel {
    h3 {
        text-transform: uppercase;
        margin: $spacing-margin;
        font-size: 150%;
        font-weight: 400;
        color: rgba(0,0,0,0.4);
    }
}

.PDFView {
    background: url($assert-background-parser-paper-view);
    background-size: 30px;

    object {
        width: 100%;
        height: 100vh;
    }
}