@import "common/Fonts";
@import "common/Spacing";

.Header {
    h1 {
        font-family: $font-title;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    nav {
        text-align: right;
        margin-top: $spacing-margin;
        padding: $spacing-padding;

        li {
            display: inline-block;
            margin: $spacing-margin;
            font-family: $font-display;
        }
    }
}

.Footer {
    text-align: center;
    color: rgba(0,0,0,0.4);
}