@import "common/Spacing";
@import "common/Fonts";
@import "common/Colors";

.Box {
    display: flex;

    &.box-vertical { flex-direction: column; }
    &.box-center { justify-content: center; }
    &.box-middle { align-items: center; }
}

.Flex {
    flex: 1;
}

.Solid {
    flex: none;
}

.Form {
    .form-center {
        text-align: center;
    }

    .Button {
        margin-top: $spacing-margin;
    }
}

.Input {
    outline: none;
    padding: $spacing-padding/2;
    margin: $spacing-margin;
    font-size: 120%;
    font-family: $font-display;
    display: block;
}

.Button {
    margin: $spacing-margin;
    padding: $spacing-padding/1.4 $spacing-padding;
    border-radius: $spacing-radius;
    border: none;
    background: $color-blue;
    font-family: $font-display;
    text-transform: uppercase;
    font-size: 80%;
    color: white;
    outline: none;

    &:hover {
        text-decoration: underline;
    }
}

.Avatar {
    background: $color-avatar-circle;
    border-radius: 30px;
    padding: $spacing-padding/1.4 $spacing-padding/2 $spacing-padding/1.8;
    display: inline-block;

    h3 {
        margin: 0;
        font-size: 80%;
        color: $color-avatar-text;
    }
}

.ModuleLink {
    min-width: 145px;
    display: inline-block;
    padding: $spacing-padding;
    border-radius: $spacing-radius;
    background: $color-module-link;
    box-shadow: 0 1px 0 $color-module-link-shadow;

    h4 {
        margin: 0 $spacing-margin/2 0 $spacing-margin;
        text-align: center;
        font-size: 140%;

        a:hover {
            text-decoration: none;
            border-bottom: 1px solid $color-link;
        }
    }
}

.ModuleList {
    .ModuleLink {
        margin: $spacing-margin/1.8;
    }
}