@import "../common/Spacing";
@import "../common/Fonts";
@import "../common/Colors";
@import "../common/Assets";

.Form {
    .form-center {
        text-align: center;
    }

    .Button {
        margin-top: $spacing-margin;
        margin-bottom: 0;
    }

    div[role="group"] {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $spacing-padding/2 0; 

        input {
            flex-grow: 1;
            display: inline-flex;
        }
    }

    label {
        font-family: $font-display;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 $spacing-margin;
        display: block;
    }
}

.Input {
    min-width: 320px;
    position: relative;
    display: flex;
    margin: $spacing-margin;

    input {
        flex: 1;
        outline: none;
        padding: $spacing-padding/1.5;
        font-size: 120%;
        font-family: $font-reading;
        display: block;
        border: 2px solid rgba($color-blue, 0.2);
        border-radius: $spacing-radius;

        &.input-error {
            border: 2px dashed $color-error;
        }
    }

    &.icon-view {
        input {
            padding-right: 30px;
        }
    }

    .action {
        position: absolute;
        right: 0;
        top: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-right: $spacing-margin/3;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center;

        &.clear { background-image: url($asset-icon-close); }
        &.loading { background-image: url($asset-icon-loading); background-size: 65%; }
    }
}

.Button {
    padding: $spacing-padding/1.6 $spacing-padding $spacing-padding/2.4;
    margin: $spacing-margin;
    margin-left: 0;
    border-radius: $spacing-radius;
    border: 2px solid $color-button-default;
    color: $color-button-default;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
    font-family: $font-display;
    text-transform: uppercase;
    font-size: 80%;
    outline: none;
    cursor: pointer;

    &:hover {
        background: $color-button-default;
        color: white;
    }

    &.textual {
        color: $color-blue;
        font-weight: normal;
        font-size: 100%;
        display: inline-block;
        border: none;
        background: none;
        margin: 0;
        padding: 0;
        text-transform: none;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }

        &.activated {
            background: $color-blue !important;
            color: white !important;
        }
    }

    &[disabled] {
        opacity: 0.4;
    }

    &.danger {
        border-color: $color-button-danger;
        color: $color-button-danger;

        &:not(.textual):hover {
            background: $color-button-danger;
            color: white;
        }
    }

    &:disabled {
        background: rgba(0,0,0,0.4);
        color: rgba(0,0,0,0.8);
    }
}

.Field {
    border: none;
    padding: $spacing-padding/2 0;
    margin-right: $spacing-margin;

    label {
        display: inline-block;
        padding: $spacing-padding/2 0;
        padding-right: $spacing-padding;
    }
}

input[type=number] {
    width: 40px;
}

.Textarea {
    display: flex;
    margin: $spacing-margin;

    textarea {
        min-height: 140px;
        flex: 1;
        display: block;
        border: 2px solid rgba($color-blue, 0.2);
        border-radius: $spacing-radius;
        padding: $spacing-padding/1.5;
        line-height: 140%;
        outline: none;
        font-family: $font-reading;
    }
}