.Box {
    display: flex;

    &.box-vertical { flex-direction: column; }
    &.box-center { justify-content: center; }
    &.box-middle { align-items: center; }
}

.Flex {
    flex: 1;
}

.Solid {
    flex: none;
}
