@import "../common/Spacing";
@import "../common/Colors";

.Markdown {
    p {
        margin: $spacing-margin 0;
        font-weight: inherit;
        line-height: inherit;
    }

    table {
        margin: $spacing-margin*3 auto;

        tr {
            border: 2px solid $color-md-table-border;
        }

        th, td {
            line-height: 120%;
            padding: $spacing-padding/4 $spacing-padding;
            min-width: 50px;
            border: 2px solid $color-md-table-border;
            border-width: 0 2px;
        }

        th {
            background: lighten($color-md-table-border, 5%);
            font-weight: bold;
        }
    }

    pre {
        word-wrap: break-word;
        white-space: pre-wrap;
        font-size: 85%;
    }
}