@import "../common/Spacing";
@import "../common/Colors";

.ModuleClip {
    width: 340px;
    min-height: 50px;
    margin: $spacing-margin;
    background: $color-module-clip;
    border-radius: $spacing-radius;
    display: inline-block;
}

.ModuleLink {
    @extend .ModuleClip;
    box-shadow: 0 1px 0 $color-module-clip-shadow;

    h4 {
        margin: 0;
        text-align: center;
        font-size: 120%;
        line-height: 100%;
        background: $color-module-clip-code;
        padding: $spacing-padding $spacing-padding/1.5 $spacing-padding/1.5;
        border-top-left-radius: $spacing-radius;
        border-bottom-left-radius: $spacing-radius;

        strong {
            font-size: 160%;
        }

        a {
            color: #fff;
        }

        a:hover {
            text-decoration: none;
        }
    }

    h3 {
        margin: 0;
        padding: $spacing-padding/2 $spacing-padding/1.5;
        font-size: 125%;
        line-height: 120%;
        font-weight: 500;

        a:hover {
            text-decoration: none;
            border-bottom: 1px solid lighten($color-link, 25%);
        }
    }
}

.ModulePlaceholder {
    @extend .ModuleClip;
    border: 2px dashed $color-module-clip-shadow;
}

.ModuleList {
    .ModuleLink {
        margin: $spacing-margin/1.8;
    }
}

.ModulePicker {
    .your-modules { 
        padding-right: $spacing-padding; 

        h3 {
            text-align: center;
            height: 22px;
            text-transform: uppercase;
            color: rgba(0,0,0,0.4);
            margin: $spacing-margin * 1.7;
        }
    }

    .search-results {
        padding-left: $spacing-padding; 
        border-left: 2px solid rgba(0,0,0,0.1);

        .ModuleList {
            text-align: center;
        }
    }
}