@import "../common/Colors";
@import "../common/Spacing";
@import "../common/Fonts";

.PaperGrid {
    background: white;
    padding: $spacing-padding;
    font-family: $font-display;

    table {
        width: 100%;
    }

    tr {
        th {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 140%;
            padding-bottom: $spacing-margin/2;
            color: $color-papergrid-header;
        }

        th:first-child {
            text-align: right;
            padding-right: $spacing-padding;
        }

        td {
            min-width: 50px;
            padding: $spacing-padding/1.5 $spacing-padding/2;
            text-align: center;
        }

        td:first-child {
            text-align: right;
            padding-right: $spacing-padding;
            width: 100px;
        }
    }
}

.PaperDot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: $color-papergrid-unavailable;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &.link-available {
        background-color: $color-papergrid-available;
    }

    &.link-active {
        border: 5px solid $color-papergrid-available;
        background: lighten($color-papergrid-available, 30%);
        transform: scale(2);
    }
}

.PaperLink {
    margin: $spacing-margin;
    display: inline-block;

    .CourseLink {
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .paper-detail {
        background: rgba(0,0,0,0.4);
        position: relative;
        z-index: 0;
        margin-left: -1 * $spacing-margin;
        padding-left: $spacing-padding;
        border-radius: $spacing-radius;

        h5, h4 {
            padding: $spacing-padding/4;
            margin: 0;
            min-width: 100px;
            text-align: center;

            a {
                color: white;
            }
        }

        h4 {
            font-size: 160%;
        }

        h5 {
            font-size: 100%;
            background: rgba(0,0,0,0.2);
            border-bottom-right-radius: $spacing-radius;
        }
    }
}

.Paper {
    .paper-empty {
        background: white;
        text-align: center;
        padding: $spacing-padding;

        i {
            color: $color-warning;
        }
    }
}

.PaperInfo {
    align-self: flex-start;
    background: white;
    padding: $spacing-padding;
}