@import "../common/Colors";
@import "../common/Fonts";
@import "../common/Spacing";

.Question {
    margin-bottom: $spacing-margin;

    .Markdown {
        line-height: 140%;
        font-size: 110%;
        font-family: $font-question;
        font-weight: $font-question-weight;
    }

    .question-main > .Empty {
        text-align: center;
        font-style: italic;
        color: $color-text-faded;

        p {
            margin: $spacing-margin;
        }
    }

    .question-detail {
        padding-top: $spacing-padding/2;
    }

    .side-actions {
        opacity: 0.5;
        border: none;

        .Button {
            margin: 0 0 $spacing-margin;
            text-align: left;
            padding: 0;

            span {
                display: none;
            }
        }

        &:hover {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }

    .Marks {
        padding: $spacing-padding/2;
        color: rgba(0,0,0,0.4);
        font-family: $font-reading;
    }

    &.editing, &.single-view {
        .question-main > .QuestionActions { opacity: 1; }
    }

    &.single-view {
        > .question-main > .question-content > .Markdown {
            font-size: 125%;
        }
    }
}

.QuestionActions {
    opacity: 0.5;
    transition: opacity 0.3s;
    border-top: 1px solid rgba($color-blue, 0.5);

    a, .Button {
        display: block;
        margin-right: $spacing-margin;
        font-size: 90%;
        padding: $spacing-padding/1.8;
        padding-bottom: 0;
    }

    .active {
        background: $color-blue;
        color: white;
    }

    &:hover {
        opacity: 1;
    }
}

.QuestionIndex {
    h5 {
        margin: $spacing-margin 0 $spacing-margin/3;
        margin-right: $spacing-margin * 2;
        font-size: 120%;
    }
}

.QuestionPath {

    h4 {
        font-size: normal;
        font-size: 80%;
    }

    h3, h4 {
        margin: 0;
        text-align: center;
    }

    .paper-detail {
        display: inline-block;
        min-width: 70%;
        padding: $spacing-padding/3;
        margin-top: $spacing-margin/2;
        border-top: 1px solid rgba($color-blue, 0.4);
        background: $color-blue;
        border-radius: $spacing-radius;

        a {
            color: white;
        }

        &:hover {
            opacity: 1;
            transition: opacity 300ms;
        }
    }
}

.Questions {
    background: white;
    padding: $spacing-padding $spacing-padding*2;   
}