# Cache/System files
.DS_Store
.ipynb_checkpoints
__pycache__
.cache
*.pyc
*.sublime-workspace
.sass-cache

# Dependencies and logs
node_modules
*.log
npm-debug.log

# Project
data/dumps
build
design/
!report/design
server/logs
.dockerignore
.env

# Assets
*.pdf

# Gitbook
report/_book
report/_export