from os.path import join, dirname
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

DB_USER = "<username>"
DB_PASS = None # Leave None if none
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "exam_papers"

APP_PORT = 5000
APP_HOST = '127.0.0.1'
APP_DEBUG = True
APP_LOG = join(dirname(__file__), 'logs/access.log')

engine = create_engine('postgresql+psycopg2://{user}{password}@{host}:{port}/{name}'.format(
    user=DB_USER, host=DB_HOST, port=DB_PORT, name=DB_NAME, password=(":" + DB_PASS if DB_PASS else "")))

Session = sessionmaker(bind=engine)