@import "../common/Spacing";

.Login {
    .ErrorMessage {
        margin-bottom: $spacing-margin * 2;
    }

    .login-box {
        border-radius: $spacing-radius;
        padding: $spacing-padding * 2;
        display: inline-block;
        border: 2px solid rgba(0,0,0,0.1);
    }
}