// Simple colors
$color-light-grey: #f0f0f0;
$color-grey: #DDD;
$color-dark-grey: #777;
$color-blue: #418EE5;

// Color names from sip
$color-storm-dust: #626262;
$color-swans-down: #D9EDEC;
$color-flame: #E75229;
$color-energy-yellow: #F7DE5A;
$color-cadet: #54676E;
$color-kelly-green: #5ECD00;
$color-smalt-blue: #515F6A;
$color-alablaster: #FBFBFB;
$color-link-water: #D9E8FA;

// Text
$color-text-faded: $color-dark-grey;

// Global styles
$color-body: $color-light-grey;
$color-link: $color-blue;
$color-font-body: $color-dark-grey;

// Theme styles
$color-error: $color-flame;
$color-danger: $color-flame;
$color-warning: $color-energy-yellow;
$color-remove: $color-flame;
$color-add: $color-kelly-green;
$color-unavailable: $color-grey;
$color-available: $color-kelly-green;

// Input
$color-button-default: $color-blue;
$color-button-danger: $color-danger;
$color-input-border: $color-grey;

// Insititution
$color-institution: white;
$color-institution-header: $color-dark-grey;

// Paper grid
$color-papergrid-header: $color-blue;
$color-papergrid-unavailable: $color-unavailable;
$color-papergrid-available: $color-available;

// Avatar icon
$color-avatar-circle: $color-storm-dust;
$color-avatar-text: white;

// Course link clip
$color-course-clip: white;
$color-course-clip-shadow: $color-swans-down;
$color-course-clip-code: $color-cadet;

// Parser
$color-parser-sidebar: $color-smalt-blue;
$color-parser-info-panel: $color-alablaster;

// Markdown
$color-md-table-border: $color-link-water;