/*
 * Display font is used for large titles, headers
 * and elements generally requiring attention.
 */
$font-display: "Gotham";

/*
 * Reading font is the font used for large blocks
 * of texts.
 */
$font-reading: "Kefa";

/*
 * The title font is the font used for the logo.
 */
$font-title: $font-reading;

/*
 * Editing font.
 */
$font-mono: Monaco, monospace;

// Question body
$font-question: "Freight Sans Pro";
$font-question-weight: 300;